<td-layout-nav title="Student Management System" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Student Management System</span>
    <span flex></span>
    <a mat-icon-button matTooltip="Profile">
      <mat-icon>person</mat-icon>
    </a>
    <span>Administrator</span>
  </div>

  <td-layout-card-over>
    <div layout="row" layout-align="start center">
      <div>
        <mat-card-title>Student : {{(student$|async)?.matricNumber}}</mat-card-title>
        <!--<mat-card-subtitle>Student Detail</mat-card-subtitle>-->
      </div>
    </div>
    <mat-divider></mat-divider>

    <div layout="column" class="inset" flex>

      <!--asset information-->
      <!--<h3 mat-line>Student Detail</h3>-->
      <mat-tab-group>
        <mat-tab label="Basic Information">
          <div layout="row" class="mat-padding" flex>
            <div layout="column" flex="30">
              <p class="tc-grey-500">Name :</p>
              <p class="tc-grey-500">IC Number :</p>
              <p class="tc-grey-500">Phone Number :</p>
              <p class="tc-grey-500">Email Address :</p>
              <p class="tc-grey-500">Nationality :</p>
            </div>
            <div layout="column" flex="70">
              <p>{{(student$|async)?.name}}</p>
              <p>{{(student$|async)?.icNumber}}</p>
              <p>{{(student$|async)?.phoneNumber}}</p>
              <p>{{(student$|async)?.emailAddress}}</p>
              <p>{{(student$|async)?.nationality}}</p>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Education Information">
          <div layout="row" class="mat-padding" flex>
            <div layout="column" flex="30">
              <p class="tc-grey-500">Faculty :</p>
              <p class="tc-grey-500">Department :</p>
              <p class="tc-grey-500">Course :</p>
              <p class="tc-grey-500">Study Level :</p>
              <p class="tc-grey-500">Sponsorship :</p>
            </div>
            <div layout="column" flex="70">
              <p>{{(student$|async)?.facultyName}}</p>
              <p>{{(student$|async)?.departmentName}}</p>
              <p>{{(student$|async)?.courseName}}</p>
              <p>{{(student$|async)?.studyLevel}}</p>
              <p>{{(student$|async)?.sponsor}}</p>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>

    <mat-card-actions align="end">
      <button mat-button="" color="primary" (click)="goBack()">Back</button>
    </mat-card-actions>
  </td-layout-card-over>

  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span
        class="mat-caption">Copyright &copy; 2018 International Islamic University Malaysia. All rights reserved</span>
      <span flex></span>
    </div>
  </td-layout-footer>
</td-layout-nav>
